
article.game {
  display: flex;
}


article.game:hover,
article.game:active,
article.game:focus,
article.game:focus-within {
  .face {
    box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.8);

    &.ft:before {
      background-position: 70% 100%, center;
    }
  }

  .scene {
    transform:rotateX(-12deg) rotateY(34deg);
  }
}


$box-colors: (
  "eternalfest": #2a2484,
  "myhordes": #650021,
  "neoparc": #d2ae86,
  "dinorpg": #578722,
  "cafejeux": #403a43,
  "emush": #2e2485,
  "studioquiz": #5e1da4,
  "mjrt": #e4e4e4,
  "labrute": #a97747,
);

@each $game, $color in $box-colors {
  ##{$game} .face { background-color: $color; }
}



/* --- MOBILE CONTENT --- */


@media only screen and (max-width: $desktopBreakpoint / 2) {

  article.game {
    flex-direction: column;
  }

}