nav.breadcrumb {
  font-size: .85em;
  font-weight: 600;
  text-transform: uppercase;
}

.content .post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

etwin-forum-post, .etwin-forum-post {
  $metaColor: $lightViolet;
  $metaBg: $deepViolet;
  $borderColor: $lightViolet;
  $spacing: 0.5rem;

  display: block;
  background-color:$darkGrey;
  border-bottom: 3px solid $deepBlack;
  border-radius: 4px;
  margin: 2.7 * $spacing 0;
  padding: 9px 0 0 0;

  .post-meta {
    display: flex;
    align-items: center;
    background-color: darken($deepGrey, 2.5);
    color: $lightViolet;
    padding: 2px 16px;

    .author {
      font-weight: $fontWeightBold;
      flex-grow: 1;
    }

    .time {
      font-size: .7em;
      line-height: 1.25em;
      color: #6f6f6f;
      text-align: right;
    }
  }

  .body, .deleted, .moderation {
    padding: 14px 16px;
  }

  .deleted {
    background-color: black;
  }

  .moderation {
    background-color: #470d0b;
  }
}

.content .forum-list, .content .section-list, .content .thread-list {
  list-style: none;
  padding-left: 0 !important;

  li {
    border-bottom: 2px solid #1f1f1f;
  }

  li:first-child {
    border-top: 2px solid #1f1f1f;
  }

  a {
    color: $lightWhite;
    padding: 14px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    transition: background-color .15s;

    &:hover, &:focus, &:focus-within {
      text-decoration: none;
      background-color: transparentize($deepBlack, .7);
    }

    .name {
      flex-grow: 1;
    }

    .count {
      display: inline-block;
      text-align: center;
      color: $lightGrey;
      font-size: .85rem;
      font-weight: 600;
      letter-spacing: .04em;
      white-space: pre;
      margin-left: 1em;
      padding: 1px 1em;
      min-width: 5.2em;
      border-radius: 4px;
      border: 2px solid transparentize($darkGrey, .45);
    }

  }
}

/* NEW THREAD STYLING */

etwin-new-forum-thread {

  .editor { //same styling as the standard textarea
    background-color: $darkGrey;
    margin: .4em 0 .25em 0;
    padding: 2px;
    border-radius: .25em;
    outline: none;
    box-shadow: inset 0 0 0 1px $lightViolet;  /*Inset shadow, simulates a white border*/

    &:hover, &:focus, &:focus-within, &:active {
      box-shadow: inset 0 0 0 2px $lightViolet;
    }

    &:focus, &:focus-within, &:active {
      textarea.field {
        background-color: $deepViolet;
        border-top-color: transparentize($lightViolet, .5);
      }
    }

    textarea.field {
      display: block;
      box-shadow: none !important;
      background: none;
      margin: 0;
      border-radius: 0 0 .25em .25em;
      border-top: 1px solid transparent;

      transition: all .1s, border .25s;
    }
  }

  .toolbar, .toolbar-extended {
    display: flex;
    justify-content: center;
    background: $deepBlack;
    padding: 0 .15em;

    .tools {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: .3em 0;
    }

    button {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 1.8em;
      margin: .15em 0;
      padding: .1em .75em;
      color: $lightGrey;
      cursor: pointer;

      transition: all .1s;

      &[disabled] {
        color: mix($deepBlack, $lightGrey, 80%);
        cursor: default;
        pointer-events: none;
      }

      &:hover, &:focus { color: $lightWhite }

      span.icon, span.icon:before {
        position: relative;
        font-family: 'fontello';
        font-size: 1.5em;
        line-height: 1;
        speak: never; //for accessibility
      }
    }
  }

  .toolbar {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2.6em;

    .tools > div { display: flex; }

    button {
      @include tooltip($content: name, $bg-color: $mediumViolet);

      &.extend {
        letter-spacing: .02em;
        .icon {
          margin: -.25em;
          padding: 0 .15em;
          &.more { transform: translateY(.1em); }
          &.less { transform: rotate(180deg); }
        }
      }
    }

    .show-preview {
      flex: 1;
      justify-content: flex-start;
    }
  }

  .toolbar-extended {
    flex-direction: column;

    .tools {
      border-top: 2px solid $darkGrey;
      justify-content: flex-start;

      button .name { margin-left: .15em; }

      &.flags button {
        .icon:before {
          content: "\e80d";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          font-size: 1em;
          opacity: .7;

          transition: all .1s;
        }

        &:hover, &:focus { .icon:before { opacity: 1; }}

        &.admin      .icon:before { color: #f7ca58; }
        &.moderation .icon:before { color: #d11a26; }
        &.animation  .icon:before { color: #5bd87c; }
        &.notice     .icon:before { color: #68b8cd; }
      }
    }
  }

  .show-preview button, .hide-preview {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $lightGrey;
    cursor: pointer;

    transition: all .1s;

    &:hover, &:focus { color: $lightWhite }
  }

  .preview {
    position: relative;
    border: dashed 2px $mediumGrey;
    border-radius: .35em;
    padding: 1.2em .8em;
    min-height: 4em;

    .hide-preview {
      padding: .3em .4em;
      position: absolute;
      left: .8em;
      top: -.9em;
      background: $deepGrey; //same as the background
    }
  }

  @media only screen and (orientation: portrait) {
    .content textarea.field { height: 40vh; }
  }

  @media only screen and (max-width: $contentWidth) {
    .tools button { padding: .1em .55em; }
    .toolbar .show-preview { justify-content: inherit; }
  }

  @media only screen and (max-width: $contentWidth / 2) {
    .tools button { @include tooltip; }
    .tools div button:nth-child(1n + 5) { display: none; } //hide all buttons from the fifth
  }
}



.emote-picker-container {
  background-color: $deepGrey;
  margin: .4em 0 .25em 0;
  border-radius: .25em;
  border: 1px solid $mediumGrey;

  .finder {
    padding: .3em;
    background: $deepBlack;
    border-radius: .25em .25em 0 0;
    
    textarea {
      font-size: .9em;
      padding: .3em .5em;
      color: $lightGrey;
      background: $darkGrey;
      border: none;
      border-radius: 3px;
      resize: none;

      transition: all .2s;

      &:hover, &:focus, &:active {
        box-shadow: inset 0 0 0 1px $lightGrey;
        outline: none;
      }

      &:focus, &:active { color: $lightWhite; }
    }
    
    .categories {
      display: flex;
      flex-flow: row wrap;
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 2px;
      padding: auto;
      font-size: 0.85em;
      background: lighten($darkGrey, 5);
      border-radius: 50%;

      transition: all .15s;

      &::after {
        position: absolute;
        content: "";
        height: 9px;
        width: 9px;
        bottom: -2px;
        left: 3px;
        background: url(https://data.twinoid.com/img/design/arrowDrop.png) center no-repeat;

        transition: all .15s;
      }

      &:hover, &:focus, &:active {
        background: $mediumGrey;
        &::after {
          bottom: -4px;
        }
      }

      &:focus, &:active {
        &::after {
          bottom: -7px;
        }
      }

      @include tooltip($content: name, $bg-color: $red);
      .name { text-shadow: 0 0 4px $deepRed; }
    }
  }

  .list {
    height: 160px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: .25em;
    margin-left: 0;
    padding: .5em;

    // SCROLLBAR STYLING
    scrollbar-width: thin;
    scrollbar-color: $lightViolet $darkGrey;
    &::-webkit-scrollbar { width: 8px; }
    &::-webkit-scrollbar-track { background: $darkGrey; border-radius: 2px; }
    &::-webkit-scrollbar-thumb { background-color: $lightViolet; border-radius: 2px; }

    h3 {
      color: $lightViolet;
      font-size: .8em;
      font-weight: 700;
      letter-spacing: .06em;
      text-transform: uppercase;
      cursor: default;
    }

    div {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      margin-bottom: 1em;
      padding: .2em 0;
      border-bottom: 1px solid $darkGrey;

      button {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 .15em .3em;
        padding: .1em;
        min-height: 1.6em;
        color: $lightGrey;
        font-size: .85em;
        letter-spacing: .01em;
        border-radius: 3px;
        cursor: pointer;

        transition: all .15s;

        @include tooltip($bg-color: $red);
        text-shadow: 0 0 4px $deepRed;

        img {  max-width: 24px; }

        span { margin-right: .25em; }

        &:hover, &:focus, &:active {
          color: $lightWhite;
          background: $mediumGrey;
        }

        // --- //

      }
    }
  }
}