etwin-linked-user, .linked-user {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 3px rgba(162, 158, 184, 0.1);
  display: block;
  margin: 1em 0;

  a {
    display: grid;
    padding: 1em;
    grid-template-areas:
      "icon user"
      "icon website";
    grid-template-columns: auto 1fr;
    column-gap: 1em;
  }

  span.icon {
    grid-area: icon;
  }

  strong {
    grid-area: user;
  }

  em {
    grid-area: website;
  }

  span.actions {
    display: block;
    margin-top: -1em;
    padding: 0 1em 1em 1em;
  }
}


.user-view {
  .profile {
    padding: 1em 0 1em 1em;
    background-color: $deepBlack;
    border: 1px solid $darkViolet;
    border-bottom-width: 3px; 
    border-radius: 6px;

    box-shadow: 0 0 7px 0 $deepBlack;

    .avatar {
      float: left;
      border: 1px solid $darkViolet;

      img { display: block; }
    }

    .name-banner {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      margin: .5em 0;
      padding: .2em 1em;
      background-color: $darkViolet;

      font-style: italic;

      h1 {
        margin: 0;
        color: white;
        font-size: 2em;
        text-transform: none;
        font-weight: bold;
        letter-spacing: .01em;
      }

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .4em 0;

        img {
          margin-right: .4em;
          padding: 3px;
          background-color: transparentize(white, .75);
          border-radius: 3px;
        }
      }
    }

    .additional {
      display: flex;
      flex-flow: row wrap;
      margin: 0.7em 1em;
      padding-left: .6em;

      a {
        font-size: .75em;
        padding-top: .5em;
        padding-bottom: .5em;
      }
    }

    .alt-infos {
      flex: 1;
      margin: auto 0;
      padding: .3em 0;
      text-align: right;
      white-space: nowrap;
      font-size: .9em;
      color: $mediumViolet;

      em {
        font-style: normal;
        color: $lightGrey;
      }
    }

    .clear {
      display: flex;
      clear: both;
    }

    .bubble {
      position: relative;
      margin: .6em 1.2em .6em 0;
      padding: .6em 1.2em;
      font-size: .9em;
      line-height: 1.45em;
      color: lighten($lightGrey, 35%);
      background-color: $darkGrey;
      border: 1px solid $mediumGrey;
      border-bottom-width: 3px;
      border-radius: 6px;

      &::before { //triangle
        $size: 8px;
        content: "";
        position: absolute;
        top: -$size;
        left: calc(50px - 8px); //center under the avatar
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $size $size $size;
        border-color: transparent transparent $mediumGrey transparent;
      }
    }

    .medals {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      margin: 1.6em 1.2em .6em 0;

      & > div {
        width: calc(33% - 6px);
        min-width: 220px;
        min-height: 8em;
        margin: .4em 0;

        &.placeholder {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px dashed $darkGrey;
          border-radius: 8px;

          a {
            display: none;
            padding: .8em;
            color: $mediumGrey;
          }

          &:hover a, &:focus a, &:active a { display: initial; }
        }
      }
    }
  }

  .description {
    margin: 0 .6em 2em;
    padding: 1.2em;
    background-color: $deepBlack;
    border: 1px solid $darkViolet;
    border-radius: 0 0 4px 4px;
  }
}

@media only screen and (max-width: $desktopBreakpoint) {
  .user-view .profile .additional { margin: 1em 1em; }
}