etwin-bar {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-sizing: initial;

  .buttonList {
    float:right;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;

    & > * { display: flex; }
  }

  .button {
    font-weight: $font-weight-bold;
    margin: 0;
    padding: 6px 12px;
    height: 28px;
    text-decoration: none;
    line-height: 1.8em;

    cursor: pointer;
    height: auto;
    width: auto;
    border: none;
    
    transition: all .15s;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}