footer {
  margin: auto 0 0 0;
  font-size: .82em;
  line-height: 1.45em;
  min-width: 100%;

  &:before { // adds the repeating waves pattern
    content: "";
    display: block;
    height: 46px;
    width: 100%;
    mask-image: url("/assets/footer_waves.svg");
    mask-size: 300px;
    mask-repeat: repeat-x;
    mask-position: top center;
  }

  a {
    font-weight: $fontWeightBold;
  }

  & > etwin-footer {
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 4.6em 2.4em;
  }

  p:not(.box) {
    margin: 0;
    padding: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @extend %box-style;

    margin: 7px 4px;
    width: 152px;

    &.description {
      width: 392px;

      // adds the etwin logo
      &:before {
        content:"";
        margin: -68px auto 0 auto;
        width: 80px;
        height: 80px;
        background-image: url("/assets/etwin_icon_bw.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


@media only screen and (max-width: $desktopBreakpoint) {

  footer {
    font-size: $fontSizeMobile;

    & > etwin-footer {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .box {
      min-width: 0;
      flex: 1 1;
      order: 1;

      &.description {
        min-width: 95%;
        order: 0; // places the main block ontop all others
      }
    }
  }
}
