body {
  color: var(--text-color);
  background-color: var(--background-color);


  a {
    color: var(--link-color); // $lightViolet;
  }

  h1, h2 {
    color: var(--main-headers-color); // $red;
  }

  code, pre {
    background: var(--pre-background-color); // $deepViolet;
    border: var(--pre-border); // 1px solid $darkViolet;
  }

  pre {
    scrollbar-color: $lightWhite $mediumGrey;

    &::-webkit-scrollbar-track { background: $mediumGrey; }
    &::-webkit-scrollbar-thumb { background-color: $lightWhite; }
  }

  blockquote {
    border-left-color: var(--blockquote-border-color); // 3px solid $darkViolet;
  }



  input.field, textarea.field {
    color: var(--input-text-color); // $lightWhite;
    background-color: var(--input-background-color); // $darkGrey;
    box-shadow: var(--input-box-shadow); // inset 0 0 0 1px $lightViolet;  /*Inset shadow, simulates a white border*/

    &:hover, &:focus, &:active {
      box-shadow: var(--input-hover-box-shadow); // inset 0 0 0 2px $lightViolet;
    }

    &:focus, &:active {
      background-color: var(--input-focus-background-color); // $deepViolet;
    }
  }



  etwin-main-layout, etwin-small-layout {
    & > header {
/*
      $background-color: var(--header-background-color); // #2d0706;
      $background-gradient: var(--header-background-gradient); // #6a100e;
      $border-color: var(--header-border-color); // #a39fb9;
      $border-gradient: var(--header-border-gradient); // #ffffff;
*/
      background-color: var(--header-background-color);
      background-image:
        url("/assets/banner.png"),
        linear-gradient(var(--header-background-gradient) 0%, var(--header-background-color) 68%, var(--header-background-color) 78%, var(--header-background-gradient) 100%);

      &::before {
        background-color: var(--header-border-color);
        background-image: linear-gradient(to right, var(--header-border-color), var(--header-border-gradient) 50%, var(--header-border-color));
      }
    }
  }

  %box-style {
    border-color: var(--generic-box-border-color); // $mediumGrey;
  }



  etwin-bar {
    background-color: var(--topbar-background-color); // $deepBlack;
    border-bottom: var(--topbar-border); // 1px solid $red;

    .button {
      color: var(--topbar-button-text-color); // $lightWhite;
      background-color: var(--topbar-button-background-color); // inherit;
      border-left: var(--topbar-button-border); // 1px solid $mediumGrey;

      &:hover, &:focus {
        background-color: var(--topbar-button-focus-color); // $darkViolet;
      }
    }
  }



  footer {
    color: var(--footer-text-color);

    &::before, etwin-footer {
      background: var(--footer-background-color); // $deepBlack;
    }

    .box {
      background-color: var(--footer-box-color); // inherit;
      border-color: var(--footer-box-border-color); // $mediumViolet;
    }

    a {
      color: var(--footer-link-color); // $lightViolet;
    }
  }



  .star-bg {
    background: var(--star-bg-color); // $darkGrey;
  }

  .content {
    background-color: var(--layout-background-color); // transparentize($deepGrey, .3);
    border-top: var(--layout-border-top); // 3px solid $red;

    box-shadow: var(--layout-shadow); // 0 0 18px 3px transparentize($lightViolet, .7);
  }

  article.contribute-item {
    background:  var(--contribute-item-background-color); // $deepBlack;
  }
}
